<%= form_for(@customer, {:class => "form-horizontal"}) do |f| %>
    <% if @customer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

          <ul>
            <% @customer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="zmwy-search">

        <ul>
          <li class="zmwy-li">
            <label>客户名称:</label>
            <%= f.text_field :name %>
          </li>
          <li class="clearfix"></li>
          <li class="zmwy-li">
            <label>联系电话:</label>
            <%= f.text_field :phone %>
          </li>
          <li class="clearfix"></li>
          <li class="zmwy-li-long">
            <label>地址:</label>
            <%= f.text_field :address %>
          </li>
          <li class="clearfix"></li>
          <li class="zmwy-li-operation">
            <%= f.submit '保存' %>
          </li>
        </ul>

    </div>

<% end %>
